@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/


    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 16px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header .info
    {
        padding: 12px 0;
    }


    header .logo
    {
        margin-left: -8px;
    }

    header .logo,
    header .logo img
    {
        width: 164px;
    }


    header .search
    {
        width: calc(100% - 480px);
    }


    header .cart,
    header .favorites
    {
        font-size: 14px;
    }

    header .favorites .icon
    {
        width: 36px;
        margin-right: 8px;
    }

    header .cart .icon
    {
        width: 34px;
        margin-right: 8px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 32px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 32px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .category .name
    {
        font-size: 17px;
        line-height: 23px;

        padding: 11px 19px;
    }



    /*--------------
        Products
    --------------*/
    .products .row,
    .content .products .row
    {
        --products_count: 2;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: calc(50% - 30px);
    }

    .products .row > *.tablet_hide
    {
        display: block;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .product_name
    {
        font-size: 25px;
        line-height: 31px;
    }



    .product_info .region_status table td.val
    {
        width: 240px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 24px;
    }


    footer .apps .links
    {
        width: 180px;
        margin-bottom: -8px;
        margin-left: 0;
    }

    footer .apps .links a
    {
        margin-bottom: 8px;
        margin-left: 0;
    }

    footer .apps .links img
    {
        width: 180px;
    }



    /*-----------
        PopUp
    -----------*/
}
